/* Default Styles - Rules */

:root {
    --light: #ffffff;
    --dark: #131313;
    --dark-alpha: #1313134d;
    --gray: #7a7a78;
    --light-gray: #c8c8c3;
    --green: #1c4538;
    --green-alpha: #1c45384d;
}

html {
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    margin: 0rem;
}

img {
    width: 100%;
    display: block;
}

h1 {
    margin: 0rem;
}

ul {
    list-style-type: none;
}

ol {
    margin: 0rem;
    padding: 0rem;
}

a {
    text-decoration: none;
}

.viewport {
    width: 100%;
    min-width: 41.4rem;
    max-width: 205.0rem;
    margin-inline: auto;
}

/* Navigation System */

header {
    padding: 2.0rem 0rem 0rem;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.navigation {
    width: 90%;
    max-width: 90.0rem;
    background-color: var(--light-gray);
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 5rem;
    padding: 1rem 2rem;
}

.logo {
    display: inline-block;
    width: 10%;
    color: var(--green);
    font-weight: bold;
}

.menu-wrapper {
    color: var(--green);
    font-weight: bold;
}

.menu-properties {
    width: 3.5rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.menu-open {
    background-image: url("../images/bars.png");
}

.menu-close {
    background-image: url("../images/cross.png");
    display: none;
}

/* Hero System */

.hero {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
}

.hero-logo {
    width: 30%;
    position: relative;
    top: 40%;
}

.hero-wrestling {
    width: 45%;
    position: relative;
    top: 210%;
    z-index: 1;
}

.hero-chevron {
    position: relative;
    top: -30%;
}

.hero-media {
    position: relative;
    top: -30%;
    z-index: 1;
}

@media screen and (min-width: 1000px) {}

/* Main System */

main {
    padding: 2.0rem;
}

.main-banner {
    margin: 5rem auto 0rem;
    box-shadow: 0.4rem 0.3rem 1.2rem var(--green-alpha);
    padding: 3rem;
    border-radius: 1rem;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 1680px) {
    .main-banner {
        max-width: 35%;
    }
}

.main-banner h1 {
    color: var(--green);
    margin-bottom: 1.0rem;
    font-size: 3.35rem;
    font-weight: 900;
}

.main-banner p {
    color: var(--gray);
    text-transform: capitalize;
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
}

.main-practice-schema {
    margin-top: 7rem;
}

.main-practice-warmup-wrapper {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.3rem 1.2rem var(--dark-alpha);
}

.main-practice-warmup-wrapper > h1 {
    color: var(--green);
    text-transform: capitalize;
    margin-bottom: 2rem;
    text-align: left;
}

/* .main-practice-drills-wrapper {} */

.main-practice-drills-wrapper > ol {
    padding-left: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.main-practice-drills-wrapper li {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: var(--gray);
    text-transform: capitalize;
}