/* Default Styles - Rules */

*, *::before, *::after {
    margin: 0rem;
    padding: 0rem;
    border: none;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --light: #ffffff;
    --dark: #131313;
    --gray: #808080;
    --green: green;
}

html {
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
}

.viewport {
    width: 100%;
    min-width: 41.4rem;
    max-width: 145.0rem;
    margin-inline: auto;
}

/* Navigation System */

header {
    padding: 2.0rem;
}

.navigation {
    width: 100%;
    max-width: 90.0rem;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0rem 0.2rem 0.7rem rgba(0, 0, 0, 0.3);
    border-radius: 5rem;
    padding: 1rem 2rem;
}

.menu-wrapper {
    border: 0.1rem solid var(--dark);
    padding: 0.3rem 0.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.menu-properties {
    width: 3.5rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.menu-open {
    background-image: url("../images/bars.png");
}

.menu-close {
    background-image: url("../images/cross.png");
    display: none;
}

/* Hero System */

.hero {
    margin-top: 6.0rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1.6rem;
}

.hero-heading {
    text-align: center;
}

.hero-heading h1 {
    color: var(--green);
}

.hero-heading h1 {
    font-size: clamp(4.0rem, 6vw, 9.0rem);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1.0rem;
}

.hero-heading p {
    font-size: clamp(1.6rem, 2vw, 3.0rem);
    text-transform: capitalize;
    margin-bottom: 4.5rem;
}

.hero-media {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1.5rem;
}

.hero-image {
    display: block;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1000px) {
    .hero {
        margin-top: 12.0rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
    }

    .hero-heading {
        text-align: left;
    }

    .hero-heading h1 {
        margin-bottom: 1.0rem;
    }
}

/* Main System */

main {
    padding: 2.0rem;
}

.main-filler-content {
    padding: 2.0rem 1.0rem;
    border: 0.2rem solid var(--green);
    border-radius: 0.8rem;
    text-align: center;
    text-transform: uppercase;
}

.main-filler-content h1 {
    color: var(--gray);
}

.main-filler-content h1 {
    margin-bottom: 1.0rem;
}

.main-filler-content p {
    text-transform: capitalize;
}

.main-practice-schema {
    margin-top: 3.0rem;
}

.main-block {
    text-align: center;
    padding: 1.0rem;
    margin-bottom: 3.0rem;
}

.session-block {
    width: 100%;
}

.session-block th, td {
    padding: 1.5rem;
}

.session-block li {
    padding: 1.5rem 0rem;
}

.session-day th, .session-overview th {
    color: var(--gray);
}

.session-lesson th, .session-schema th {
    border-radius: 0.7rem;
}

.session-lesson {
    background-color: var(--gray);
    color: var(--light);
}

.session-schema {
    background-color: var(--green);
    color: var(--light);
}
